<table class="table table-sm table-striped table-hover table-dark mt-3">
    <thead>
        <tr>
            <th class="border-top-0">&nbsp;</th>
            <th class="border-top-0">#</th>
            <th class="border-top-0">Character</th>
            <th class="border-top-0">Account</th>
            <th class="border-top-0">Class</th>
            <th class="border-top-0">Level</th>
            <th class="border-top-0">Experience</th>
            <th class="border-top-0">Violations</th>
        </tr>
    </thead>
    <tbody>
        <% if(ladder.length > 0) { %>
        <% for(const character of ladder) { %>
        <tr class="clickable-row<% if(character.dead || character.retired) { %> text-secondary<% } %>"
            data-cid="<%= character.character.id %>">
            <td class="pr-0">
                <% if(character.dead) { %>
                <i class="fas fa-skull-crossbones text-danger"></i>
                <% } else if(character.retired) { %>
                <i class="fas fa-door-closed text-secondary"></i>
                <% } else if(character.online) { %>
                <i class="fas fa-user text-success"></i>
                <% } else { %>
                <i class="fas fa-user text-secondary"></i>
                <% } %>
            </td>
            <td><%= character.rank %></td>
            <td>
                <%= character.character.name %>
            </td>
            <td>
                <%= character.account.name %>
            </td>
            <td>
                <%= character.character.class %>
            </td>
            <td><%= character.character.level %></td>
            <td>
                <div class="progress" style="margin-top: 10px">
                    <div class="progress-bar bg-secondary" role="progressbar"
                        style="width: <%= character.character.experience %>%" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100"></div>
                </div>
            </td>
            <td>
                <% if(character.violations.resolved > 0) { %>
                <span class="badge badge-success">
                    <i class="fas fa-xs fa-check"></i>
                    <%= character.violations.resolved %>
                </span>
                <% } %>
                <% if(character.violations.active > 0) { %>
                <span class="badge badge-warning">
                    <i class="fas fa-xs fa-exclamation-triangle"></i>
                    <%= character.violations.active %>
                </span>
                <% } %>
            </td>
        </tr>
        <% } %>
        <% } else { %>
        <tr>
            <td colspan="8" class="text-center">No results</td>
        </tr>
        <% } %>
    </tbody>
</table>