<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" id="violationModalLabel">
            <%= character.character.name %>
            <a href="https://www.pathofexile.com/account/view-profile/<%= character.account.name %>/characters?characterName=<%= character.character.name %>"
                target="_blank" class="text-secondary">
                <i class="fas fa-xs fa-external-link-alt ml-1"></i>
            </a>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body" id="modal-body">
        <% for(const violation of character.violations.entries) { %>
        <div class="card text-white bg-darker mb-1">
            <div class="card-body">
                <h5 class="card-title">
                    Rule: <span class="rule-name"><%= violation.ruleDisplay %></span>
                    <% if(violation.resolved == null) { %>
                    <span class="badge badge-warning float-right">
                        <i class="fas fa-xs fa-exclamation-triangle"></i> Active
                    </span>
                    <% } else { %>
                    <span class="badge badge-success float-right">
                        <i class="fas fa-xs fa-check"></i> Resolved
                    </span>
                    <% } %>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                    <%= violation.display %>
                </h6>
                <p class="card-text text-muted">
                    <% if(violation.resolved == null) { %>
                    <span class="text-white">
                        <i class="fas fa-clock fa-xs"></i>
                        <%= violation.occured.time %>
                    </span>
                    at
                    <span class="text-white">Level <%= violation.occured.level %></span>
                    (<span class="text-white"><%= violation.occured.experience %>%</span>)
                    <% } else { %>
                    Resolved after
                    <span class="text-white">
                        <i class="fas fa-clock fa-xs"></i>
                        <%= violation.resolved.time %>
                    </span><br />
                    Violated between
                    <span class="text-white">Level <%= violation.occured.level %></span>
                    (<span class="text-white"><%= violation.occured.experience %>%</span>)
                    and
                    <span class="text-white">Level <%= violation.resolved.level %></span>
                    (<span class="text-white"><%= violation.resolved.experience %>%</span>)
                    <% } %>
                </p>
            </div>
        </div>
        <% } %>
    </div>
</div>